.App {
  width: 100vw;
  height: 100vh;
  background-color: rgb(244, 245, 247);
}

.makeFlex {
  display: flex;
}
.flexEnd {
  justify-content: flex-end;
  align-items: center;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}
.centeredFlexColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.centeredFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sbFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LeftTopFlexColumn {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

}

.LeftCenteredFlexColumn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pd12 {
  padding: 12px;
}
.pdt0 {
  padding-top: 0px;
}
.pdl30t15 {
  padding-left: 30px;
  padding-top: 15px;
}

.btnRounded {
  border-radius: 24px;
}